<mat-card class="Search">
  <mat-card-content>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput [formControl]="searchName" />
    </mat-form-field>
    &nbsp;
    <mat-form-field>
      <mat-label>Family</mat-label>
      <input matInput [formControl]="searchFamily" />
    </mat-form-field>
    &nbsp;
    <mat-form-field>
      <mat-label>Given</mat-label>
      <input matInput [formControl]="searchGiven" />
    </mat-form-field>
    &nbsp;
  </mat-card-content>
</mat-card>
<mat-card class="Patients">
  <mat-card-content>
    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="familyNameCol">
        <mat-header-cell *matHeaderCellDef>Family</mat-header-cell>
        <mat-cell *matCellDef="let entry">{{
          getPatientFamilyName(entry)
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="givenNamesCol">
        <mat-header-cell *matHeaderCellDef>Given</mat-header-cell>
        <mat-cell *matCellDef="let entry">{{
          getPatientGivenNames(entry)
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="birthDateCol">
        <mat-header-cell *matHeaderCellDef>Birthdate</mat-header-cell>
        <mat-cell *matCellDef="let entry">{{
          getPatientBirthDate(entry)
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="addressLinesCol">
        <mat-header-cell *matHeaderCellDef>Street</mat-header-cell>
        <mat-cell *matCellDef="let entry">{{
          getPatientAddressLines(entry)
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="addressCityCol">
        <mat-header-cell *matHeaderCellDef>City</mat-header-cell>
        <mat-cell *matCellDef="let entry">{{
          getPatientAddressCity(entry)
        }}</mat-cell>
      </ng-container>
      <mat-header-row
        *matHeaderRowDef="[
          'familyNameCol',
          'givenNamesCol',
          'birthDateCol',
          'addressLinesCol',
          'addressCityCol'
        ]"
      ></mat-header-row>
      <mat-row
        *matRowDef="
          let row;
          columns: [
            'familyNameCol',
            'givenNamesCol',
            'birthDateCol',
            'addressLinesCol',
            'addressCityCol'
          ]
        "
        (click)="selectRow(row)"
      ></mat-row>
    </mat-table>
    <mat-paginator
      [pageIndex]="pageIndex"
      [length]="length"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="goToPage($event)"
    ></mat-paginator>
  </mat-card-content>
</mat-card>
<app-patient-detail [patient]="selectedPatient"></app-patient-detail>
