# General configuration of the IPF application.

mag:
  baseurl: https://localhost:9091
  client-ssl:
    enabled: true
    key-store: 270.jks
    key-store-password: a1b2c3
    cert-alias: gateway
  xds:
    https: true
    iti-18:
      url: ehealthsuisse.ihe-europe.net:10443/xdstools7/sim/default__ahdis/reg/sq
    iti-43:
      url: ehealthsuisse.ihe-europe.net:10443/xdstools7/sim/default__ahdis/rep/ret
    iti-41:
      url: ehealthsuisse.ihe-europe.net:10443/xdstools7/sim/default__ahdis/rep/prb
    retrieve:
      url: http://localhost:9091/camel/xdsretrieve
  pix:
    https: true
    iti-45:
      url: ehealthsuisse.ihe-europe.net:10443/PAMSimulator-ejb/PIXManager_Service/PIXManager_PortType
      #url: gazelle.ihe.net/PAMSimulator-ejb/PIXManager_Service/PIXManager_PortType
    iti-44:
      url: ehealthsuisse.ihe-europe.net:10443/PAMSimulator-ejb/PIXManager_Service/PIXManager_PortType
      #url: gazelle.ihe.net/PAMSimulator-ejb/PIXManager_Service/PIXManager_PortType
    oids:
      sender: 1.3.6.1.4.1.21367.2017.2.2.108
      receiver: 1.3.6.1.4.1.12559.11.20.1.10
      query: 1.3.6.1.4.1.21367.2017.2.1.104
  audit:
    audit-enabled: true 
    audit-source-id: CCC_BFH_MAG
    audit-enterprise-site-id: 1.3.6.1.4.1.21367.2017.2.7.109
    audit-repository-host: 147.135.232.177
    audit-repository-port: 3001
    audit-repostiory-transport: UDP        
        
# https://docs.spring.io/spring-boot/docs/current/reference/html/appendix-application-properties.html#core-properties
spring:
  application:
    name: ipf-hapifhir-iti-example

# https://docs.spring.io/spring-boot/docs/current/reference/html/appendix-application-properties.html#server-properties

server:
  ssl:
    key-store: classpath:271.p12
    key-store-password: a1b2c3
    key-store-type: pkcs12
    key-alias: bfh1
    #key-password: password
  port: 9091 # Application listening port for HTTPS
  http:
    port: 9090 # Application listening port for HTTP. Remove line to disable.

#ipf:
  # https://oehf.github.io/ipf-docs/docs/ihe/atna/
  #atna:
    #audit-enabled: false # Disable ATNA logging as it requires more efforts to work
logging:
  level:
    root: info
camel:
  springboot:
    xmlRoutes: false
    main-run-controller: true