language: node_js
node_js: '12'

before_install:
  - npm install

script:
  - npm run-script build

cache:
  directories:
    - ./node_modules

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  target_branch: 'gh-pages'
  local_dir: 'dist'
  on:
    branch: master
